@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Great Insurance and a Great Value</h1>
    <p class="lead">Our experienced agents can help you explore coverage to protect what matters most.</p>
    <div class="text-center">
        <img src="https://myventurepad.com/wp-content/uploads/2017/11/insurance.jpg" class="img-fluid rounded" alt="Responsive image">
    </div>
</div>